ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
}

.jokesList {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.jokesCard {
  box-shadow: 0px 0x 3px 5px gold;
  border-radius: 10px;
  background-color: skyblue;
  color: aliceblue;
  min-height: 200px;
  flex-basis: calc((100% - 3 * 20px) / 4);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: box-shadow 250ms linear 250ms, opacity 250ms linear 250ms;
}

.jokesCard:hover {
  box-shadow: 0px 1px 5px 3px rgba(12, 102, 206, 0.12), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.jokesContent {
  display: flex;
 
  justify-content: space-between;
  font-weight: 700;
}

h3 {
    font-size: 16px;
}

.jokesType {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.jokesName, .jokesId {
  text-transform: capitalize;
    color: rgb(23, 98, 162);
}

.jokesText {
    font-style: italic;
}

.jokesBtns {
  display: flex;
  justify-content: center;
  gap: 5px;
    opacity: 0;
    transition: box-shadow 250ms linear 250ms, opacity 250ms linear 250ms;

}

.jokesCard:hover .jokesBtns{
  opacity: 1;
}

button:hover {
  box-shadow: 5px 5px 5px 5px rgba(208, 192, 12, 0.12), 0px 1px 5px 1px rgba(104, 138, 231, 0.14), 0px 2px 3px 1px rgba(26, 120, 191, 0.507);

}

.jokesBtn button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;

  flex-basis: calc((100% - 4 * 5px) / 4);
}

.jokesLoad {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}